<h1>Confirm Your Email With Collie</h1>

<p>
Please confirm your email address with Collie by clicking
<%= link_to 'here', confirm_users_url(@user.confirm_key) %>.
We just want to make sure you're not a robot.

Thanks!
</p>
