<h1>Search Results</h1>
<ul>
  <% @records.each do |record| %>
  <li><%= link_to record.class, record %> | <%= record.attributes %></li>
  <% end.empty? and begin %>
  <li>No Results</li>
  <% end %>
</ul>
