<%= link_to asset.asset_name, asset %>

<p>
  Asset Tag:
  <%= asset.current_tag.tag_number %>
</p>

<p>
  Serial Number:
  <%= asset.serial_number %>
</p>

<p>
  Description:
  <p>
    <%= asset.description %>
  </p>
</p>
