input[type="text"], input[type="password"], input[type="email"], textarea {
  display: block;

  min-width: 20em;

  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5em;

  border: solid 2px rgba(0,0,0,0);
  outline: none;
  border-radius: .3em;

  font-size: 12px;

  background-color: rgba(0,0,0,.1);

  -webkit-transition: border 1.5s;
  -moz-transition: border 1.5s;
  -ms-transition: border 1.5s;
  -o-transition: border 1.5s;
  transition: border 1.5s;

  &:hover {
    border: solid 2px #33db9b;
    -webkit-transition: border 0s;
    -moz-transition: border 0s;
    -ms-transition: border 0s;
    -o-transition: border 0s;
    transition: border 0s;
  }
}

textarea {
  height: none;
}

#login-layout {
  input[type="text"], input[type="password"], input[type="email"], textarea {
    margin-left: auto;
    margin-right: auto;
  }
}
