<!DOCTYPE html>
<html>
<head>
  <title>Collie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="flex" id="nav-bar">
      <div class="spacer"></div>
      <a href="/">Collie</a>
      <div class="spacer"></div>
      <a href="/assets">Assets</a>
      <div class="spacer"></div>
      <a href="/users">Users</a>
      <div class="spacer"></div>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>

  </footer>
</body>
</html>
